.icon {
  height: 100px;
  display: block;
  margin: 0 auto;
}

.items {
  font-weight: 500;
  font-size: 24px;
  color: #e0ffff;
  text-decoration: inherit;
}

.items:hover {
  color: #87ceeb;
}

.animelist {
  margin-left: 20px;
}

.careerlist {
  margin-left: 20px;
}

.mylink {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.twitter-icon {
  height: 80px;
}

.github-icon {
  height: 80px;
}
