.icon {
  height: 100px;
  display: block;
  margin: 0 auto;
}

.animelist {
  margin-left: 20px;
}

.careerlist {
  margin-left: 20px;
}

.mylink {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.twitter-icon {
  height: 80px;
}

.github-icon {
  height: 80px;
}
